{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /i>
    <link rel="stylesheet" href={% static 'assets/css/main.css' %} />
    <noscript><link rel="stylesheet" href={% static 'assets/css/noscript.css' %} /></noscript>
  </head>
<body>
<h1>Payment Canceled</h1>
<p>Your payment was not completed. Please try again.</p>

<a href="{% url 'home' %}" class="button" style="text-decoration: none;">
    <button>Go to Homepage</button>
</a>
</body>
</html>